<!-- <div id="container">
  <div id="navigation">
    <a routerLink="/">首页</a>
    <a routerLink="/about">论坛概况</a>
  </div>
  <div id="outlet-wrapper">
    <router-outlet></router-outlet>
  </div>
</div> -->
<!-- <nz-layout>
  <nz-header>
    <div class="wrap"></div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout> -->
<nz-layout class="container">
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>